:root{
    --kolore-nagusia: rgb(177, 121, 47);
    --kolore-nagusia-hover: rgb(163, 110, 40);
}

/* LOGIN */

.login-main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../resources/fondo_reg.jpg");
}

.login-cont{
    min-width: 20vw;
    min-height: 50vh;
    box-shadow: rgba(51, 51, 51, 0.212) 0px 0px 2px 1px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    border-radius: 2px;
    font-family: Montserrat;
    background-color: white;
}

.login-cont-logo{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.login-cont-logo img{
    width: 100%;
}

.login-cont-form{
    flex-grow: 3;
    padding: 30px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.login-cont-form-user{
    margin-bottom: 20px;
}

.login-cont-form input{
    border: none;
    border-bottom: 1px solid rgb(206, 206, 206);
    color: rgb(61, 61, 61);
    height: 50px;
    width: 100%;
    font-family: Montserrat;
}

.login-cont-form input:focus{
    outline: none;
}

.login-cont-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.login-cont-footer-bt{
    width: 100%;
    padding-block: 10px;
    border-radius: 2px;
    background-color: var(--kolore-nagusia);
    border: 1px solid var(--kolore-nagusia);
    font-size: 17px;
    color: white;
    font-family: Montserrat;
    transition: all 0.3s;
    cursor: pointer;
}

.login-cont-footer-bt:hover{
    background-color: white;
    color: var(--kolore-nagusia);
}

.login-cont-footer-bt:focus{
    overflow: none;
}


/* END LOGIN */

body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: stretch;
    font-family: Montserrat;
}

.contact-bt{
    background-color: var(--kolore-nagusia);
    width: 60px;
    height: 60px;
    border: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 30px;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: Montserrat;
}

.contact-bt:hover{
    background-color: var(--kolore-nagusia-hover);
}

header{
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
    justify-content: stretch;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
}

.header-left{
    display: flex;
    flex-direction: row;
}

.header-left .logo{
    height: 6vh;
    margin-left: 1vw;
}

.header-center{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.header-center .esteka{
    text-decoration: none;
    color: black;
    margin-right: 5vw;
    transition: all 0.3s;
}

.header-center .esteka:hover{
    color: var(--kolore-nagusia);
}

.header-right{
    display: flex;
    flex-direction: row;
}

.header-right .botoia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-inline: 20px;
    background-color: var(--kolore-nagusia);
    margin-left: 20px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    border: solid 1px white;
    transition: all 0.3s;
}

.header-right .botoia:hover{
    color: var(--kolore-nagusia);
    background-color: white;
    border: 1px solid var(--kolore-nagusia);
}

.header-right .botoia-tx{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-inline: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--kolore-nagusia);
    margin-inline: 20px;
    border-radius: 50px;
    text-decoration: none;
    color: var(--kolore-nagusia);
    transition: all 0.3s;
}

.header-right .botoia-tx:hover{
    color: white;
    background-color: var(--kolore-nagusia);
}

.user-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
    color: rgb(61, 61, 61);
}

.user-cont span{
    margin-left: 10px;
}

.user-cont:hover{
    background-color: rgb(241, 241, 241);
}

.logout-bt{
    text-decoration: none;
    color: rgb(83, 83, 83);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    padding: 10px;
    padding-inline: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 30px;
    font-weight: 200;
}

.logout-bt:hover{
    background-color: rgb(235, 235, 235);
}

main{
    flex-grow: 1;
}

.main-sarrera{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: top right;
    padding: 12vw;
}

.main-sarrera.hasiera{
    background-image: url(../resources/fondo_pilota.png);
}

.main-sarrera.norgara{
    background-image: url(../resources/norgara.jpg);
}

.main-sarrera.historia{
    background-size: cover;
    background-image: url(../resources/historia.jpg);
}

.main-sarrera.historia .main-sarrera-h1{
    color: white;
}
.main-sarrera.historia .main-sarrera-desc{
    color: white;
}


.main-sarrera-h1{
    font-size: 4vw;
    font-weight: lighter;
}

.main-sarrera-desc{
    max-width: 40vw;
    font-size: 1vw;
}

.main-art{
    padding: 12vw;
    padding-top: 0px;
}

.main-art-sec{
    margin-top: 120px;
}

.sec-title{
    margin-top: 60px;
    font-weight: normal;
}

.sec-desc{
    font-size: 18px;
    text-align: justify;
}

.albistea-txart-kont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.albistea-txart{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    border-radius: 2px;
    box-shadow: rgba(128, 128, 128, 0.212) 0px 0px 2px 1px;
    width: 24%;
    min-height: 400px;
    transition: all 0.3s;
    cursor: pointer;
}

.albistea-txart:hover{
    box-shadow: rgba(128, 128, 128, 0.267) 0px 0px 8px 2px;
}

.albistea-txart-img{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    height: 45%;
}

.albistea-txart-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.albistea-txart-header{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    max-lines: 2;
}

.albistea-txart-desc{
    padding: 10px;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.emaitza-txart-kont{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.emaitza-txart{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    box-shadow: rgba(128, 128, 128, 0.212) 0px 0px 2px 1px;
    min-height: 80px;
    margin-bottom: 20px;
}

.emaitza-txart-left{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    text-align: center;
}

.emaitza-txart-left-hilabetea{
    
}

.emaitza-txart-left-eguna{
    font-weight: bold;
    font-size: 50px;
}

.emaitza-txart-center{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    padding: 20px;
}

.emaitza-txart-center-pilotariak{
    font-size: 35px;
    font-weight: 400;
}

.emaitza-txart-center-lehiaketa{
    font-size: 20px;
}

.emaitza-txart-right{
    min-width: 5%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}

.emaitza-txart-right-gorri{
    color: rgb(223, 37, 37);
    border-right: 0.5px solid rgb(184, 184, 184);
    padding: 10px;
}

.emaitza-txart-right-urdin{
    color: rgb(86, 122, 223);
    padding: 10px;
}

.alb-cont{
    margin: 10vw;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.alb-img img{
    width: 100%;
}

.alb-header{
    text-align: justify;
}

.alb-desc{
    text-align: justify;
}

/** KONTAKTUA **/

.kontaktua-cont{
    display: flex;
    flex-direction: column;
    padding: 4vw;
}

.kontaktua-cont form{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 2vw;
    background-color: rgb(250, 248, 245);
    font-family: Montserrat;
}

.kontaktua-cont form input{
    border: none;
    border-bottom: 1px solid rgb(206, 206, 206);
    color: rgb(41, 41, 41);
    background: none;
    height: 50px;
    width: 100%;
    font-family: Montserrat;
    margin-bottom: 20px;
}

.kontaktua-cont form input:focus{
    outline: none;
}

.kontaktua-cont form textarea{
    border: none;
    border-bottom: 1px solid rgb(206, 206, 206);
    color: rgb(41, 41, 41);
    background: none;
    height: 350px;
    width: 100%;
    font-family: Montserrat;
    margin-bottom: 20px;
}

.kontaktua-cont form textarea:focus{
    outline: none;
}

.kontaktua-cont-footer{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.kontaktua-bt{
    background: none;
    border: 2px solid var(--kolore-nagusia);
    border-radius: 2px;
    font-size: 15px;
    font-weight: bold;
    color: var(--kolore-nagusia-hover);
    padding: 10px;
    padding-inline: 20px;
    transition: all 0.3s;
}

.kontaktua-bt:hover{
    background-color: var(--kolore-nagusia);
    color: white;
}

.erab-cont{
    margin: 15vw;
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.erab-row{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    margin-top: 3vh;
}

.erab-column{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
}

.erab-row-ind{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 2vw;
}

.erab-cont input[type="text"]{
    border: none;
    border-bottom: 1px solid rgb(206, 206, 206);
    color: rgb(41, 41, 41);
    background: none;
    height: 50px;
    width: 100%;
    font-family: Montserrat;
    margin-bottom: 20px;
}

.erab-cont input[type="text"]:focus{
    outline: none;
}

.erab-cont input[type="password"]{
    border: none;
    border-bottom: 1px solid rgb(206, 206, 206);
    color: rgb(41, 41, 41);
    background: none;
    height: 50px;
    width: 100%;
    font-family: Montserrat;
    margin-bottom: 20px;
}

.erab-cont input[type="password"]:focus{
    outline: none;
}

.erab-bt-gorde{
    border-radius: 3px;
    border: none;
    background-color: var(--kolore-nagusia);
    position: fixed;
    bottom: 50px;
    width: 150px;
    height: 50px;
    left: calc(100vw/2 - 75px);
    color: white;
    box-shadow: rgba(128, 128, 128, 0.212) 0px 0px 2px 1px;
    transition: all 0.3s;
}

.erab-bt-gorde:hover{
    background-color: var(--kolore-nagusia-hover);
    box-shadow: rgba(134, 132, 131, 0.212) 0px 0px 3px 2px;
}

.baja-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.baja-bt{
    border: none;
    padding: 10px;
    padding-inline: 20px;
    background-color: rgb(230, 109, 109);
    color: rgb(87, 14, 14);
    border-radius: 25px;
}


/** ADMIN **/

.admin-title-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 90vh;
}

.admin-title{
    text-align: center;
    font-size: 30px;
}

.erabil-table-cont{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    margin-top: 40px;
}

.erabil-table-cont table{
    flex-grow: 1;
}


/** FIN ADMIN **/

/* ALERT */

.alert-cont{
    display: none;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width: 28vw;
    min-height: 25vh;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(8, 8, 8, 0.301) 0px 0px 30px 1px;
    position: absolute;
    top: calc((100vh - 25vh)/2);
    right: calc((100vw - 28vw)/2);
}

.alert-header{
    display: flex;
    flex-direction: row;
    height: 20%;
}

.alert-body{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.alert-footer{
    display: flex;
    flex-direction: row;
    height: 20%;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.alert-header-title{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.alert-header-close-bt{
    background: none;
    padding-inline: 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    transition: all 0.3s;
}

.alert-header-close-bt:hover{
    background-color: rgb(255, 120, 120);
}

.alert-body-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-size: 70px;
    font-weight: 200;
}

.alert-body-text{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-grow: 1;
    padding: 10px;
    text-align: center;
}


.alert-footer-accept-bt{
    background-color: var(--kolore-nagusia);
    color: white;
    padding: 10px;
    padding-inline: 20px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s;
    height: 80%;
}

.alert-footer-accept-bt:hover{
    background-color: var(--kolore-nagusia-hover);
}

/** FIN ALERT **/

.filter-cont{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: start;
    border: 1px solid rgba(128, 128, 128, 0.199);
    border-radius: 3px;
    margin-bottom: 20px;
}

.filter-ind{
    display: flex;
    flex-direction: row;
    padding: 10px;
    min-width: 10%;
}

.filter-ind select{
    padding: 10px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.filter-ind label{
    padding: 10px;
    border: 1px solid rgb(223, 223, 223);
    border-right: none;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: rgb(245, 243, 239);
    font-weight: 500;
}

.emaitz-ez-cont{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.emaitz-ez-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgb(167, 167, 167);
}

.emaitz-ez-desc img{
    max-width: 20%;
    opacity: 0.5;
}


footer{
    height: 15vh;
    /* background-image: linear-gradient(rgb(255, 255, 255), rgb(70, 70, 70)); */
}


@media only screen and (max-width: 600px) {
    header{
        flex-direction: row;
    }

    .header-center{
        flex-direction: column;
        align-self: flex-end;
        position: absolute;
        display: none;
        width: 100vw;
        height: 100vh;
        background-color: white;
        align-items: center;
        justify-content: center;
        top: 0px;
        left: 0px;
        padding: 0px;
        margin: 0px;
        font-size: 10vw;
    }

    .header-left{
        flex-grow: 1;
    }

    .user-cont span{
        display: none;
    }

    .albistea-txart-kont{
        flex-direction: column;
    }

    .albistea-txart{
        width: 100%;
        margin-bottom: 10px;
    }

    .emaitza-txart{
        flex-direction: column;
    }

    .emaitza-txart-center-pilotariak{
        font-size: 20px;
        font-weight: 400;
    }
    
    .emaitza-txart-center-lehiaketa{
        font-size: 15px;
    }

    .main-sarrera{
        height: 40vh;
    }

    .main-sarrera-h1{
        font-size: 10vw;
        font-weight: lighter;
    }
    
    .main-sarrera-desc{
        max-width: 100vw;
        font-size: 4vw;
    }

    .erab-cont{
        margin: 15vw;
    }

    #erab{
        flex-direction: column;
    }

    .filter-cont{
        flex-direction: column;
        justify-content: stretch;
    }

    .filter-ind{
        flex-grow: 1;
    }
}
