:root{
    --kolore-nagusia: rgb(177, 121, 47);
}

body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: stretch;
    font-family: Montserrat;
}

header{
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
    justify-content: stretch;
}

.header-left{
    display: flex;
    flex-direction: row;
}

.header-left .logo{
    height: 6vh;
    margin-left: 1vw;
}

.header-center{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.header-center .esteka{
    text-decoration: none;
    color: black;
    margin-right: 5vw;
    transition: all 0.3s;
}

.header-center .esteka:hover{
    color: var(--kolore-nagusia);
}

.header-right{
    display: flex;
    flex-direction: row;
}

.header-right .botoia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-inline: 20px;
    background-color: var(--kolore-nagusia);
    margin-left: 20px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    border: solid 1px white;
    transition: all 0.3s;
}

.header-right .botoia:hover{
    color: var(--kolore-nagusia);
    background-color: white;
    border: 1px solid var(--kolore-nagusia);
}

.header-right .botoia-tx{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-inline: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--kolore-nagusia);
    margin-inline: 20px;
    border-radius: 50px;
    text-decoration: none;
    color: var(--kolore-nagusia);
    transition: all 0.3s;
}

.header-right .botoia-tx:hover{
    color: white;
    background-color: var(--kolore-nagusia);
}

.user-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
}

.user-cont span{
    margin-left: 10px;
}

.user-cont:hover{
    background-color: rgb(241, 241, 241);
}

main{
    flex-grow: 1;
}

.main-sarrera{
    display: flex;
    flex-direction: column;
    height: calc(90vh - 24vw);
    background-image: url(../resources/fondo_pilota.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: top right;
    padding: 12vw;
}

.main-sarrera-h1{
    font-size: 4vw;
    font-weight: lighter;
}

.main-sarrera-desc{
    max-width: 40vw;
    font-size: 1vw;
}

.main-art{
    padding: 12vw;
    padding-top: 0px;
}

.sec-title{
    margin-top: 60px;
    font-weight: normal;
}

.albistea-txart-kont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.albistea-txart{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    border-radius: 2px;
    box-shadow: rgba(128, 128, 128, 0.212) 0px 0px 2px 1px;
    width: 24%;
    min-height: 400px;
    transition: all 0.3s;
    cursor: pointer;
}

.albistea-txart:hover{
    box-shadow: rgba(128, 128, 128, 0.267) 0px 0px 8px 2px;
}

.albistea-txart-img{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    height: 45%;
}

.albistea-txart-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.albistea-txart-header{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}

.albistea-txart-desc{
    padding: 10px;
}

.emaitza-txart-kont{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.emaitza-txart{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    box-shadow: rgba(128, 128, 128, 0.212) 0px 0px 2px 1px;
    min-height: 80px;
    margin-bottom: 20px;
}

footer{
    height: 15vh;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(70, 70, 70));
}